.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.suggestion-list {
  margin-top: 25px;
}

.suggestion {
  padding: 8px;
  background: #EAEAEA;
  float: left;
  margin: 1%;
  width: 31%;
  box-sizing: border-box;
}
.suggestion div {
  float:right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
